################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/OLAP/v15/Server/sqlite3
/.vs/OLAP/v15
/.vs/OLAP-master/v15
/.vs
