    <div class="navbar">
        <div class="navbar-inner">
            <span id="FactSelLabel">Факты</span>
            <div class="columnButtons">
                <a href="#addNewFact" id="addFact" role="button" class="btn btn-success disabled" data-toggle="modal">Добавить...</a>
                <a href="#" id="delFact" role="button" class="btn btn-danger disabled">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="addNewFact" tabindex="-1" style="z-index: 5003" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить меру</h3>
        </div>
        <div class="modal-body">
            <div id="newFactError" class="alert alert-error hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ошибка!</strong> Все поля должны быть заполнены.
            </div>
            @using (Html.BeginForm("AddFact", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "newFactForm" }))
            {
            <input type="text" id="newFactBaseName"  style="position: absolute; visibility: hidden" name="baseName" />
            <label>Введите название</label>
            <input type="text" id="newFactName" placeholder="Введите текст…" name="name">
            <label>Выберите таблицу</label>
            <select id="newFactSelTable" class="SelFact" name="tableName">
             </select>
                <label>Выберите поле</label>
            <select id="newFactSelRow" class="SelFact disabled" name="rowName">
             </select>
            }
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button id="newFact" class="btn btn-primary">Добавить</button>
        </div>
    </div>

     <select id="SelFact" size="2" class="selectData SelFact">
        @if (ViewData["factsList"] != null)
        {
            foreach (var meas in (List<OLAP.Models.FactJson>)ViewData["factsList"])
            {
                <option>@meas.Name</option>
            }
        }
    </select>

<script>
    function setFactsRows(data) {z
        $("#newFactSelRow").children().remove();
        var rows = JSON.parse(data.responseText);
        for (var r in rows) {
            if (rows[r].RowName !== "") {
                $("#newFactSelRow").append("<option>" + rows[r].RowName + "</option>");
            }
        }
    }

    $("#newFactSelTable").click(function () {
        if ($("#newFactSelRow").children().length == 0) {
            $("#newFactSelRow").addClass("disabled");
        }
        $.ajax({
            type: "POST",
            dataType: 'jsonp',
            url: "/Home/ShowFactsRows",
            data: { tableName: $("#newFactSelTable option:selected").val(), baseName: $("#newDimBaseName").val() },
            success: setFactsRows,
            error: setFactsRows
        });
    });

    $("#newFact").click(function () {
        var str = $("#newFactName").val();
        str = $.trim(str);
        if (!str || !$("#newFactSelTable option:selected").val()
            || !$("#newFactSelRow option:selected").val()
            || !$.trim($("#newDimBaseName").val())) {
            $("#newFactError").show();
            $("#newFactName").focus();
        } else {
            $("#newFactForm").submit();
            $("#newFactName").val() = "";
        }
    });

    $("#delFact").click(function () {
        $.get("@Url.Action("DeleteFact", "Home")", { name: $("#SelFact option:selected").val() });
        $("#SelFact option:selected").remove();

        if ($("#SelFact option:selected") != null) {
            $("#delFact").addClass("disabled");
        }
    });

    $("#SelFact").change(function () {
        //$("#SelDB option:selected").val();
        if ($("#SelFact").children().length == 0) {
            $("#delFact").addClass("disabled");
        }
        else {
            $("#delFact").removeClass("disabled");
        }
    });
</script>