    <div class="navbar">
        <div class="navbar-inner">
            <span id="MeasSelLabel">Меры</span>
            <div class="columnButtons">
                <a href="#addNewMeasure" id="addMeas" role="button" class="btn btn-success disabled" data-toggle="modal">Добавить...</a>
                <a href="#" id="delMeas" role="button" class="btn btn-danger disabled">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="addNewMeasure" tabindex="-1" role="dialog" style="z-index: 5004" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Добавить меру</h3>
        </div>
        <div class="modal-body">
            <div id="newMeasError" class="alert alert-error hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ошибка!</strong> Все поля должны быть заполнены.
            </div>
            @using (Html.BeginForm("AddMeasure", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "newMeasForm" }))
            {
            <input type="text" id="newMeasDimName"  style="position: absolute; visibility: hidden" name="dimName" />
            <input type="text" id="newMeasBaseName"  style="position: absolute; visibility: hidden" name="baseName" />
            <label>Введите название</label>
            <input type="text" id="newMeasName" placeholder="Введите текст…" name="name">
            <label>Выберите поле</label>
            <select id="newMeasSel" class="SelMeas" name="columnName">
             </select>
            }
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
            <button id="newMeas" class="btn btn-primary">Добавить</button>
        </div>
    </div>

     <select id="SelMeas" size="2" class="selectData SelMeas">
        @if (ViewData["measuresList"] != null)
        {
            foreach (var meas in (List<OLAP.Models.MeasureJson>)ViewData["measuresList"])
            {
                <option>@meas.Name</option>
            }
        }
    </select>

<script>
    $("#newMeas").click(function () {
        var str = $("#newMeasName").val();
        str = $.trim(str);
        if (!str || !$("#newMeasSel option:selected").val() || !$.trim($("#newMeasDimName").val())) {
            $("#newMeasError").show();
            $("#newMeasName").focus();
        } else {
            $("#newMeasForm").submit();
            $("#newMeasName").val() = "";
        }
    });

    $("#SelMeas").change(function () {
        if ($("#SelMeas").children().length == 0) {
            $("#delMeas").addClass("disabled");
        }
        else {
            $("#delMeas").removeClass("disabled");
        }
    });

    $("#delMeas").click(function () {
        $.get("@Url.Action("DeleteMeasure", "Home")", { name: $("#SelMeas option:selected").val() });
        $("#SelMeas option:selected").remove();

        if ($("#SelMeas option:selected") != null) {
            $("#delMeas").addClass("disabled");
        }
    });
</script>